<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="database" connectionString="data source=vva.com.vn;initial catalog=ITS_DONGTHAP;persist security info=True;user id=sa;password=VVASQL$%^47;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="databaselocal" connectionString="data source=.;initial catalog=ITS_DONGTHAP;persist security info=True;user id=sa;password=VVASQL$%^47;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--HLB\SQL2014-->